.detail-page{
  .detail-views{
    .gc-thumbs-area{
      ul{
        li {
          border: 4px solid #2dbeb3;
          padding: 0px;
          background-color: #fff;
          &.gc-active{
            border-color:#ffdb4a!important;
            &:hover{
              border-color:#ffdb4a !important;
            }
          }
        }
      }
    }
    .gc-disabled{
      .gc-icon,.gc-icon:hover{
        opacity:1;
        color:#000!important;
      }
    }
    .gc-icon{
      border: 2px solid #000;
      color:#000!important;
    }
    .gc-display-area{
      border: 1px solid #2dbeb3;
    }
  }
  .tt-productdetail{
    border-right: 1px solid #cccccc61;
    .head-productdetail {
      margin-bottom: 15px;
      .p-name {
        font-size: 19px;
        font-weight: 700;
        color: #000;
        margin: 0;
        line-height: 27px;
      }
    }
    .p-code {
      color: #000;
      font-weight: 500;
      font-size: 12px;
      line-height: 27px;
    }
    .code-unknown {
      color: #000;
      font-weight: 700;
      line-height: 28px;
    }
    .blike-producttn-product{
      .btn-product-ct {
        margin-top: 6px;
        width: 100%;
        .ht-btn-default {
          background: #ff3e89;
          padding: 8px 19px;
          border: none;
          font-size: 12px;
          color: #fff;
          border-radius: 5px;
          text-transform: uppercase;
          font-weight: 600;
          &:focus, &:active, &:hover{
            outline: none;
          }
        }
      }
    }
    .khac-productdetail{
      h3 {
        font-size: 17px;
        font-weight: 700;
        margin-top:36px;
        margin-bottom: 15px;
        color: #000;
      }
    }
    ul.ht-list{
      margin-bottom: 8px;
      li{
        &.v3-detail {
          margin-bottom: 11px;
          font-weight: 400;
          padding-left: 0;
          font-size: 14px;
          color: #000;
          img {
            width: 23px;
            margin-right: 10px;
          }
          a{
            color: #2dbeb3;
          }
        }
      }
    }
  }
  .right-slide-productdetail{
    padding: 17px;
    .ht-title.with-bb {
      display: inline-block;
      padding-bottom: 2px;
      font-size: 20px;
      margin: 4px 0 16px;
      line-height: 53px;
      font-weight: 800;
      color: #333
    }
    .check-out-p-list {
      font-size: 12px;
      line-height: 28px;
    }
    p {
      margin-bottom: 8px;
    }
    .form-control{
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 8px;
      line-height: 20px;
      vertical-align: top;
      font-size: 13px;
      border-color: #ccc;
      border-radius: 3px;
      transition: all 0.2s ease-in-out;
    }
    hr{
      margin-top: 13px;
      margin-bottom: 13px;
      border-top: 1px solid #eaeaea;
    }
    .btn-printnow {
      background: #fd5b4e;
      color: #fff;
      text-transform: uppercase;
      margin: 22px 10px 13px 0px;
      border-radius: 28px;
      font-size: 15px;
      height: 42px;
      font-weight: 600;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      &:hover{
        opacity: 0.75;
      }
    }
  }
  .left-slide-productdetail{
    box-shadow: 0px 10px 15px 0px #0000001a;
    overflow: hidden;
  }
  .content-productdetail{
    padding-top: 15px;
    .left-content-fe{
      padding: 40px 0;
      .content-detail-item{
        margin-top: 20px;
        font-size: 14px;
        line-height: 24px;
        color: #333;
        p{
          margin-bottom: 8px;
        }
      }
    }
    .ht-news-leftct{
      padding: 40px 0;
      .panel-group{
        margin-top: 20px;
        .panel-default{
          box-shadow: none;
          border-bottom: 1px solid #cccccc5c;
          margin: 0;
          border-radius: 0px;
          .panel-heading{
            background-color: #f7f6fb;
            border-color: #ddd;
            border-bottom: 0;
            padding: 10px 15px;
            .panel-title{
              a {
                font-weight: bold;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .slider-lq{
    margin-top:70px;
    .item{
      .pro-price{
        .current-price, .old-price{
          img{
            width: inherit!important;
            display: inline-block!important;
          }
        }
      }
    }
    .owl-nav{
      position: absolute;
      top: -30px;
      .owl-prev, .owl-next{
        opacity:1;
        i{
          font-size: 35px;
        }
      }
      .owl-prev{
        right: 200px;
        left: inherit;
      }
      .owl-next{
        right: 170px;
      }
    }
  }
  .view-all-detail{
    text-align: right;
    margin-bottom: -60px;
  }
  .ht-title-detail{
    display: inline-block;
    padding-bottom: 2px;
    font-weight: 700;
    margin: 4px 0 16px;
    line-height: 53px;
    font-size: 26px;
    color: #333;
    text-transform: uppercase;
    position: relative;
    bottom: -45px;
    &::after{
      position: absolute;
      content: "";
      width: 100px;
      height: 15px;
      background:#2dbeb3;
      bottom:15px;
      left: 0px;
      opacity: 0.75;
      z-index: -1;

    }
  }
}
.green{
  color: #3cbeb3;
  font-weight: bold;
}
