.menu_mb{
  .list-mobile{
    position: absolute;
    right: 95px;
    top: 13px;

    li{
      font-size: 20px;
      padding: 5px;
      float: left;
      &:last-child{
        position: relative;
        span{
          position: absolute;
          width: 25px;
          height:25px;
          font-size: 12px;
          border-radius: 50%;
          top: -5px;
          right: -20px;
          border: 1px solid #2dbeb3;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
.form-search-mb{
  input{
    border-radius: 0px;
    border: none;
  }
  .btn-search-mb{
    background: #feaf0f;
    border: none;
    border-radius: 0px;
    button{
      border: none;
      color: #fff;
      background: #feaf0f;
    }
  }
}
.menu_header{
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px #0000000a, 0 1px 2px #00000014;
  @media (max-width: 991px) {
    height:60px;
  }
  .sh_logo {
    height: 53px;
    line-height: 53px;
    span {
      display: block;
      width: 0;
      height: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
    a{
      max-width: 320px;
      img {
        height: 45px;
        margin: 3px;
      }
    }
  }
}
.menu_main{
  margin-top: 10px;
  .nav-menu{
    >li{
      @media (min-width:992px) {
        > a{
          position: relative;
          display: inline-block;
          &::after {
            position: absolute;
            content: '';
            display: block;
            width: 0;
            height: 2px;
            margin-top: 5px;
            background: #2dbeb3;
            transition: width .3s;
          }
          &:hover{
            &::after{
              width: 50%;
              margin-top: 5px;
            }
          }
        }
      }
      > a{
        display: block;
        padding: 10px 10px;
        line-height: 20px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        color: #000;
        @media (max-width: 991px) {
          h3{

          }
           color:#fff;
        }
        h3 {
          line-height: 20px;
          margin: 0;
          padding: 0;
          display: inline-block;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
      &.logo_mb_2{
        img{
          width: 112px;
        }
      }
      &.has-dropdown{
        >a{
          padding: 10px 22px 10px 10px;
        }
      }
      img{
        width: 20px;
      }
    }
  }
}
.control-action{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    li{
      list-style: none;
      &:first-child{
        .ht-label{
          font-weight: 600;
          width: 110px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin-left: 5px;
          margin-top: 2px;
          padding-bottom: 4px;
          line-height: 29px;
          font-size: 14px;
          text-align: left;
          color: #333;
        }
      }
      &:last-child{
        .btn{
          font-size: 15px;
          padding: 5px 19px 5px 19px;
          color: #fff;
          font-weight: 600;
          background: #fd5b4e;
          border-radius: 18px;
          &:hover {
            opacity: .8;
          }
        }
      }
    }
}
.modal-content{
  width: 384px;
  margin: 0px auto;
  border-radius: 20px;
  padding: 70px 20px 20px;
  @media(max-width: 767px){
    width: 300px;
    padding: 70px 15px 15px;
  }
  .btn-close{
    padding: 0px;
    margin: 0px;
    border: none;
    display: block;
    position: absolute;
    top: 20px;
    font-size: 25px;
    z-index: 1;
    line-height: 17px;
    left:20px;
    border-radius: 50%;
    text-align: center;
    color: #2dbeb3;
    cursor: pointer;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    background: transparent;

    &:focus, &:active, &:hover{
      outline: none;
      background: transparent;
    }
  }
  .list-login{
    li{
      border-radius: 0px 20px 0px 136px;
      width: 132px;
      position: absolute;
      background: linear-gradient(90deg, rgba(65,230,199,1) 43%, rgba(58,231,220,1) 100%);
      height: 132px;
      z-index: 10;
      right: 0px;
      top: 0px;
      &.active{
        z-index: -1;
      }
      &.login-tabs-t{
        background: linear-gradient( 45deg ,rgba(77,228,184,1) 0%,rgba(251,193,4,1) 122%);
      }
      a{
        color: #fff;
        width: 100%;
        padding: 0;
        margin: 20px -12px;
        font-weight: 600;
        text-align: right;
        line-height: 27px;
        display: inline-block;
      }
    }
  }
  .ht-card{
    padding: 17px 30px 16px;
    margin-bottom: 12px;
    background-color: #fff;
    display: block;
    .ht-title {
      text-align: left;
      font-size: 20px;
      margin: 4px 0 16px;
      line-height: 53px;
      font-weight: 800;
      color: #333;
    }
    .signin-form{
      input{
        height: 39px;
        border-radius: 20px;
        border-color: #3fe6cd;
      }
      p{
        font-size: 14px;
        font-style: italic;
        line-height: 19px;
        margin-bottom: 8px;
      }
      .pass{
        display: flex;
        margin: 10px 2px 0px 2px;
        align-items: center;
        justify-content: space-between;
        .checkbox{
          input[type="checkbox"]{
            height: 17px;
          }
        }
        .qmk{
          font-size: 12px;
        }
      }
      .ht-btn-primary{
        border-radius: 50px;
        text-transform: uppercase;
        margin-bottom: 12px;
        line-height: 17px;
        height: 37px;
        margin-top: 5px;
        color: #fff;
        background-color: #2dbeb3;
        border-color: transparent;
        font-weight: 500;
        &.btn-login-out, &.btn-logout-pop{
          background: linear-gradient(90deg,rgba(65,230,199,1) 43%,rgba(58,231,220,1) 100%);
          width: 100%;
          &:active, &:focus{
            outline: none;
          }
        }
        &.btn-logout-pop{
          background: linear-gradient( 90deg , rgba(77,228,184,1) 0%, rgba(251,193,4,1) 100%);
        }
      }
    }
  }
}
.main-category{
  background-color: #2dbeb3;
  .category-all{
    .vertical-navbar{
      .list-title{
        padding: 12px 12px 12px 47px;
        height: 100%;
        font-size: 15px;
        white-space: nowrap;
        text-transform: uppercase;
        color: #000;
        background-color: #ffdb4a;
        display: block;
        font-weight: 700;
        position: relative;
        cursor: pointer;
        i{
          width: 52px;
          height: 44px;
          font-size: 18px;
          line-height: 52px;
          position: absolute;
          display: block;
          top: 0px;
          left: 0px;
          text-align: center;
        }
      }
      .ul-lev2{
        position: absolute;
        z-index: 9;
        background: #fff;
        box-shadow: 1px 2px 3px 2px #cccccc1f;
        width: 100%;
        min-height: 480px;
        max-width: 262px;
        padding: 0px;
        li{
          &::after{
            border-bottom: 1px solid #b8b8b83d;
            content: '';
            position: absolute;
            left: 0;
            right: -21px;
            width: 70%;
            bottom: 0;
            margin: 0 auto;
          }
          &.site-nav-icon{
            position: relative;
            > .nav-item{
              display: block;
              position: relative;
              padding-left: 50px;
              line-height: 21px;
              background: url(../img/icon-all.jpg) no-repeat;
              background-position: 5px 3px;
              width: 100%;
              height: 37px;
              font-size: 14px;
              font-weight: 400;
              h2{
                font-size: 14px;
                font-weight: 400;
                margin: 0;
                line-height: 35px;
              }
            }
            &:first-child{
              padding-top: 7px;
            }
            &:nth-child(2){
              > .nav-item{
                background-position: 5px -31px;
              }
            }
            &:nth-child(3){
              > .nav-item{
                background-position: 5px -70px;
              }
            }
            &:nth-child(4){
              > .nav-item{
                background-position: 5px -104px;
              }
            }
            &:nth-child(5){
              > .nav-item{
                background-position: 5px -138px;
              }
            }
            &:nth-child(6){
              > .nav-item{
                background-position: 5px -171px;
              }
            }
            &:nth-child(7){
              > .nav-item{
                background-position: 5px -204px;
              }
            }
            &:nth-child(8){
              > .nav-item{
                background-position: 5px -239px;
              }
            }
            &:nth-child(9){
              > .nav-item{
                background-position: 5px -271px;
              }
            }
            &:nth-child(10){
              > .nav-item{
                background-position: 5px -303px;
              }
            }
            &:nth-child(11){
              > .nav-item{
                background-position: 7px -337px;
              }
            }
            &:hover{
              >.nav-item{
                background: url(../img/icon-hover.jpg) no-repeat;
                background-position: 5px 3px;
                h2{
                  color: #2dbeb3;
                }
              }
              &:nth-child(2){
                > .nav-item{
                  background: url(../img/icon-hover.jpg) no-repeat;
                  background-position: 5px -31px;
                }
              }
              &:nth-child(3){
                > .nav-item{
                  background: url(../img/icon-hover.jpg) no-repeat;
                  background-position: 5px -70px;
                }
              }
              &:nth-child(4){
                > .nav-item{
                  background: url(../img/icon-hover.jpg) no-repeat;
                  background-position: 5px -104px;
                }
              }
              &:nth-child(5){
                > .nav-item{
                  background: url(../img/icon-hover.jpg) no-repeat;
                  background-position: 5px -138px;
                }
              }
              &:nth-child(6){
                > .nav-item{
                  background: url(../img/icon-hover.jpg) no-repeat;
                  background-position: 5px -171px;
                }
              }
              &:nth-child(7){
                > .nav-item{
                  background: url(../img/icon-hover.jpg) no-repeat;
                  background-position: 5px -204px;
                }
              }
              &:nth-child(8){
                > .nav-item{
                  background: url(../img/icon-hover.jpg) no-repeat;
                  background-position: 5px -239px;
                }
              }
              &:nth-child(9){
                > .nav-item{
                  background: url(../img/icon-hover.jpg) no-repeat;
                  background-position: 5px -271px;
                }
              }
              &:nth-child(10){
                > .nav-item{
                  background: url(../img/icon-hover.jpg) no-repeat;
                  background-position: 5px -303px;
                }
              }
              &:nth-child(11){
                > .nav-item{
                  background: url(../img/icon-hover.jpg) no-repeat;
                  background-position: 7px -337px;
                }
              }
            }
          }
          &.btn-all {
            background: #fff7d5;
            color: #000;
            text-transform: uppercase;
            text-align: center;
            bottom: 0;
            position: absolute;
            width: 100%;
            &:after{
              display: none;
            }
            a{
              text-align: center;
              padding: 10px;
              font-size: 13px;
              font-weight: bold;
              display: block;
            }
          }
        }
      }
    }
  }
  .bar-mid{
    display: flex;
    float: right;
    .form-search{
      display: inline-block;
      float: left;
      position: relative;
      padding: 5px 9px 0px 0px;
      input{
        width: 554px;
        padding: 0px 17px;
        font-size: 14px;
        margin: 4px;
        border: 0 none;
        border-radius: 22px;
        height: 33px;
        color: #636363;
        background: #fff;
        float: left;
        box-sizing: border-box;
      }
      .btn-search{
        position: absolute;
        border: 0 none;
        background: #ffd800;
        float: right;
        font-size: 13px;
        text-transform: uppercase;
        width: 110px;
        right: 1px;
        font-weight: bold;
        margin: 6px;
        text-align: center;
        height: 29px;
        line-height: 13px;
        cursor: pointer;
        color: #363636;
        border-radius: 18px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
          border:none;
          background: #ffd800;
          padding: 0px;

        }
      }
    }
    .cart-tab {
      margin-right: 14px;
      .navbar-action{
        flex: 0 0 auto;
        padding: 0 0 0;
        transition: padding 0.2s ease-in-out;
        a.btn--create-new-shop{
          position: relative;
          display: flex;
          height: 34px;
          margin-top: 9px;
          line-height: 19px;
          padding: 5px 15px;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          color: #ffffff;
          background-color: #3a607d;
          border-radius: 20px;
          align-items: center;
          .fa-cart-plus {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            line-height: 23px;
            position: relative;
            top: 0px;
            margin-right: 4px;
            text-transform: uppercase;
          }
          .text-heds {
            line-height: 22px;
          }
          .action-badge-count {
            margin-left: 5px;
            display: inline-block;
            line-height: 16px;
            font-size: 11px;
            text-align: center;
            width: 16px;
            height: 16px;
            font-weight: 700;
            color: #000;
            background-color: #ffdb4a;
            border-radius: 50%;
          }
        }
      }
    }
    .cart-tab1{
      a{
        display: inline-block;
        background: #ee3d77;
        margin-top: 8px;
        width: 100%;
        padding: 9px 21px 9px 21px;
        height: 35px;
        font-weight: 600;
        font-size: 13px;
        line-height: 17px;
        border-radius: 18px;
        border: 0;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        .fa-print {
          margin-right: 2px;
          font-size: 15px;
        }
        .text-heds{
          font-weight: 600;
          font-size: 13px;
          line-height: 17px;
          text-align: center;
          text-transform: uppercase;
          color: #fff;
        }
      }
    }
  }
}
.slider_main{
  .item{
    img{
      min-height: 480px;
    }
  }
  @media (max-width: 991px) {
    .item{
      img{
        height: 45vh;
        object-fit: cover;
      }
    }
  }
  .owl-dots{
    .owl-dot{
      span{
        width: 13px;
        height: 13px;
        margin: 0px 5px;
        background: #fff;
      }
      &.active, &:hover{
        span {
          background-color: #ffdb4a;
        }
      }
    }
  }
}
.banner-item{
  background: #000;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: #fff;
  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
    transition: .5s;
    transform: scaleX(0);
    opacity: 0;
  }
  &::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    box-sizing: border-box;
    transition: .5s;
    transform: scaleY(0);
    opacity: 0;
  }
  .imgBox {
    position: relative;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      text-align: center;
    }
  }
  &:hover{
    &::before {
      transform: scaleX(1);
      opacity: 1;
      z-index: 1;
    }
    &::after{
      transform: scaleX(1);
      opacity: 1;
    }
    .imgBox{
      img{
        opacity: 0.6;
      }
    }
  }
}
.banner{
  margin-top: 55px;
  @media (max-width: 992px) {
    margin-top: 35px;
  }
  .slider-banner{
    .item{
      .banner-item{
        background: #000;
        float: left;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        text-align: center;
        color: #fff;
        p,h0{
          color: #fff;
        }
        &::before {
          content: '';
          position: absolute;
          top: 10px;
          left: 10px;
          right: 10px;
          bottom: 10px;
          border-top: 2px solid #fff;
          border-bottom: 2px solid #fff;
          box-sizing: border-box;
          transition: .5s;
          transform: scaleX(0);
          opacity: 0;
        }
        &::after{
          content: '';
          position: absolute;
          top: 10px;
          left: 10px;
          right: 10px;
          bottom: 10px;
          border-left: 2px solid #fff;
          border-right: 2px solid #fff;
          box-sizing: border-box;
          transition: .5s;
          transform: scaleY(0);
          opacity: 0;
        }
        .imgBox {
          position: relative;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            text-align: center;
          }
        }
        .text-banner{
          position: absolute;
          left: 22px;
          text-align: left;
          top: 35px;
          .hr{
            margin-left: -12px;
            border-left: 2px solid #fff;
            .title-lv1 {
              text-transform: uppercase;
              font-size: 13px;
              margin-left: 12px;
              font-weight: 400;
            }
            .title-lv2 {
              line-height: 0;
              font-size: 23px;
              margin-left: 12px;
              text-transform: uppercase;
              font-weight: bold;
              padding: 0 1px 10px 0;
            }
          }
          .title-lv3 {
            font-size: 12px;
            font-weight: 400;
            padding: 0 43px 0 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-height: 20px;
            margin-bottom: 8px;
          }
          .btn-page-primary {
            background: #fff;
            color: #000;
            text-decoration: none;
            z-index: 1;
            position: absolute;
            margin-top:10px;
            text-transform: uppercase;
            padding: 7px 14px 7px 14px;
            font-weight: 600;
            font-size: 13px;
            border-radius: 21px;
            line-height: 21px;
            i {
              margin-left: 10px;
              font-size: 12px;
            }
          }
        }
        &:hover{
          &::before {
            transform: scaleX(1);
            opacity: 1;
            z-index: 1;
          }
          &::after{
            transform: scaleX(1);
            opacity: 1;
          }
          .imgBox{
            img{
              opacity: 0.6;
            }
          }
        }
      }
    }
    .owl-nav{
      .owl-prev, .owl-next{
        width: 30px;
        height: 32px;
        font-size: 0px;
      }
      .owl-prev{
        background-image: url("../img/pew.png");
        background-repeat: no-repeat;
        left: -32px;
        @media (max-width: 992px) {
          left: 15px;
        }
      }
      .owl-next{
        background-image: url("../img/nex.png");
        background-repeat: no-repeat;
        right: -32px;
        @media (max-width: 992px) {
          right: 15px;
        }
      }
    }
  }
}
.product-home{
  margin-top: 22px;
  .title-product{
    .title-chan{
      text-transform: uppercase;
      line-height: 53px;
      font-size:30px;
      font-weight: 800;
      color:#fd5b4e;
      display: inline-block;
      span{
        display: inline-block;
        position: relative;
        color: #333;
        &::before{
          position: absolute;
          content: "";
          width: 100%;
          height:13px;
          background:#fd5b4e94;
          bottom: 16px;
          left: 0;
        }
      }
    }
    .product-filter-nav{
      float: right;
      ul{
        &.filter-list{
          li {
            display: inline-block;
            vertical-align: top;
            a{
              display: block;
              padding: 13px 12px 0px;
              line-height: 16px;
              font-size: 12px;
              font-weight: 600;
              text-transform: uppercase;
              color: #555;
              border-top: 1px solid transparent;
            }
          }
        }
        @media(max-width: 1199px){
          display: none;
        }
      }
      .view-more {
        display: block;
        padding: 12px 7px 0px 10px;
        margin: 3px 0px 0px;
        color: #000;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 31px;
        font-size: 14px;
        @media(max-width: 991px){
          span{
            display: none;
          }
        }
      }
    }
  }
  .product-item{
    margin-bottom: 27px;
    .product-detail{
      margin-top: 12px;
      .pro-name {
        a{
          display: -webkit-box;
          margin: 0px 1px;
          padding: 0;
          overflow: hidden;
          line-height: 23px;
          font-size: 14px;
          text-align: center;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
      .pro-price {
        margin: 2px 0 8px;
        height: 18px;
        line-height: 16px;
        font-weight: 400;
        color: #000;
        font-size: 12px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
      }
      .product_actions {
        margin-top: 15px;
        .pri-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          border-radius: 22px;
          color: #000;
          line-height: 15px;
          border: 1px solid #959595;
          height: 32px;
          .prink {
            color: #fd5b4e;
            margin-left: 5px;
          }
        }
      }
    }
    &:hover{
      .product-detail{
        .product_actions{
          .pri-btn{
            background: #fd5b4e;
            border: 0;
            color: #fff;
            .prink {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .banner-product{
    margin:50px 0px;
    @media (max-width: 992px) {
      margin:30px 0px;
    }
  }
  .banner-item{
    @media (max-width: 992px) {
      margin:30px 0px;
    }
  }
  &.product-home-style-2{
    margin-top: 0px;
  }
  &.all-home{
    .title-product{
      .product-filter-nav{
        float: none;
      }
    }
    .product-item{
      .product-detail{
        .pro-name{
          a{
            span{
              color:#3cbeb3;
            }
          }
        }
      }
      &:hover{
        .product-detail{
          .product_actions{
            .pri-btn{
              background: #3cbeb3;
            }
          }
        }
      }
    }
    @media (max-width: 1199px){
      .title-product{
        .product-filter-nav{
          ul {
            display: block;
            overflow-y: scroll;
            white-space: nowrap;
            margin-top: 10px;
          }
        }
      }
    }
    @media (max-width: 767px){
      .title-product {
        .product-filter-nav{
          ul {
            width: 200px;
          }
        }
      }
    }
  }
}
.review-home{
  background: url(../img/banner-top.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 991px){
    padding: 70px 0 100px;
    background: #eaf4ff;
  }
  .section-review {
    padding: 70px 0 35px;
    .title_module_main{
      text-align: center;
      margin: 20px 0px 37px;
      .inner_title {
        display: inline-block;
        position: relative;
        padding-bottom: 30px;
        .des {
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 400;
          color: #282828;
          line-height: 17px;
          margin: 0 0 10px;
        }
        &::before{
          position: absolute;
          content: "";
          width: 116px;
          height: 4px;
          background:#3cbeb3;
          bottom: 0px;
          margin: auto;
          left: 0px;
          right: 0px;
        }
      }
      .h2, h2 {
        text-transform: uppercase;
        font-size: 27px;
        line-height: 29px;
        padding: 0;
        color: #282828;
        font-weight: 700;
        margin: 0;
        letter-spacing: 0;
        position: relative;
      }
      .h2{
        h3 {
          font-size: 27px;
          line-height: 29px;
          font-weight: bold;
          .green {
            color: #3cbeb3;
            font-weight: bold;
          }
          .gold {
            color: #ffdb4a;
          }
        }
      }
    }
  }
  .btn-video{
    @media (max-width: 991px){
      text-align: center;
    }
    .click-video {
      background: #ff3d89;
      color: #fff;
      padding: 8px;
      text-transform: uppercase;
      font-weight: 600;
      border-radius: 28px;
      position: absolute;
      bottom: -370px;
      width: 243px;
      right: 80px;
      text-align: center;
      @media (max-width: 991px) {
        width: 100%;
        top: -17px;
        padding: 15px;
        left: 0;
        line-height: 86px;
        position: relative;
      }
    }
  }
  .content {
    padding: 20px;
    margin-bottom: 20px;
    .content-item {
      position: relative;
      padding-left: 60px;
      margin-bottom: 30px;
      .icon {
        position: absolute;
        left: 0;
        top: -8px;
      }
      .content-right {
        margin-left: 35px;
        .title-i1, .title-i2, .title-i3, .title-i4{
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
        }
        .title-i1 {
          color: #1291d2;
        }
        .title-i2 {
          color: #f07585;
        }
        .title-i3 {
          color: #f2ac1a;
        }
        .title-i4 {
          color: #2dbeb3;
        }
        p{
          font-size:14px;
        }
      }
    }
  }
}
.title_module_main{
  .inner_title{
    display: inline-block;
    position: relative;
    .des {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 400;
      color: #282828;
      line-height: 17px;
      margin: 0 0 10px;
    }
    h2, .h2{
      text-transform: uppercase;
      font-size: 27px;
      line-height: 29px;
      padding: 0;
      color: #282828;
      font-weight: 700;
      margin: 0;
      letter-spacing: 0;
      position: relative;
    }
  }
}
.news-home {
  background:#fff;
  padding: 60px 0px 40px;
  .inner_title{
    padding-bottom:20px;
    margin-bottom: 40px;
    &::before{
      position: absolute;
      content: "";
      width: 116px;
      height: 3px;
      background:#000;
      bottom: 0px;
      margin: auto;
      left: 0px;
      right: 0px;
    }
  }
  .box-news-home{
    .img-new{
      a{
        display: block;
        height: 187px;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .card-content {
      padding: 12px 0 0px;
      background-color: #f7f6fa;
      overflow: hidden;
      .news-meta {
        padding: 12px 0px 8px 0px;
        text-align: left;
        border-bottom: 1px solid #ccc;
        width: 74%;
        margin-left: 32px;
        span {
          color: #000;
          margin-right: 30px;
          font-size: 12px;
          &:last-child{
            margin-right: 0px;
          }
        }
      }
      .news-title {
        padding: 10px 15px 0px 15px;
        font-size: 13px;
        font-weight: 700;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 20px;
        max-height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .news-excerpt {
        margin: 7px 13px 28px;
        font-size: 13px;
        color: #616161;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 18px;
        height: 38px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .btn-new1, .btn-new2, .btn-new3{
        margin-top: -7px;
        float: right;
        right: 8px;
        position: absolute;
        background: #2dbeb3;
        color: #fff;
        font-weight: 400;
        border-radius: 0px;
        text-transform: uppercase;
      }
      .btn-new2{
        background: #ff3e89;
      }
      .btn-new3{
        background: #1291d2;
      }
    }
    margin-bottom: 55px;
    &.bt-4new{
      background-color: #f7f6fa;
      position: relative;
      .card-content{
        margin: 12px 25px;
        border-bottom: 1px solid #ccc;
        padding: 0;
        .news-title {
          padding: 5px;
          margin: 0;
          text-align: left;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          line-height: 20px;
          max-height: 48px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 13px;
          font-weight: 700;
        }
        .date-bt-4 {
          margin: 16px 41px 16px 1px;
          overflow: hidden;
          i {
            color: #f2af25;
            margin-right: 5px;
            font-size: 10px;
          }
          .date-bt4 {
            float: left;
            font-size: 12px;
          }
          .view-bt4 {
            float: right;
            font-size: 12px;
          }
        }
        &.last{
          border-bottom: none;
        }
      }
      .btn-new4{
        margin-top: -7px;
        right: -5px;
        position: absolute;
        background: #fff000;
        color: #000;
        font-weight: 400;
        border-radius: 0px;
        text-transform: uppercase;
      }
    }
  }
}
.footer-promotion {
  padding: 24px 0;
  background: #3cbeb3;
  color: #fff;
  .box-promotion{
    display: flex;
    align-items: center;
    @media (max-width: 767px){
      padding-left:16%;
      margin-bottom: 15px;
    }
    img{
      max-width:100%;
      height: auto;
    }
    .policy-descr {
      padding: 4px 0 4px 16px;
      vertical-align: top;
      display: inline-block;
      max-width: 70%;
      .item-title {
        margin: 0 0 4px;
        line-height: 20px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
      }
      .item-descr {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
.footer-main{
  background: url(../img/footer.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px 0 0px;
  .news-letter-area{
    margin-bottom: 20px;
    padding: 30px 0px 50px;
  }
  .section-title{
    text-transform: uppercase;
    text-align: center;
    .email-footer {
      margin-bottom: 0px;
      line-height: 30px;
      padding-bottom: 15px;
      font-size: 25px;
      color: #fff;
      font-weight: 700;
      position: relative;
      display: inline-block;
    }
  }
  .news-latter-box{
    .news-letter-form {
      margin-top: 30px;
    }
    .subscribe-form {
      display: inline-block;
      max-width: 100%;
      vertical-align: middle;
      margin: auto;
      input {
        color: rgb(255, 255, 255);
        display: block;
        float: left;
        font-size: 1em;
        height: 48px;
        margin-left: 5px;
        line-height: 48px;
        max-width: 100%;
        position: static;
        text-align: left;
        white-space: nowrap;
        width: 435px;
        background: #2c3c4a;
        border: 0;
        padding: 0px 15px;
        border-radius: 50px;
      }
      button {
        color: #000;
        float: left;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        height: 48px;
        letter-spacing: 0.03em;
        line-height: 47px;
        max-width: 100%;
        background: #ffdb4a;
        border: 0;
        margin: 0px 0px 0px 15px;
        padding: 0px 32px;
        transition: all 0.3s ease 0s;
        border-radius: 50px;
        margin-left: -39px;
      }
    }
  }
  .bt-for {
    padding: 0 0 40px!important;
    .footer-lastchild {
      border-right: 1px solid #cccccc1a;
      .f-nav-wrap {
        text-align: center;
      }
      &:last-child {
        border: 0;
        .f-nav-list{
          display: flex;
          justify-content: center;
          li {
            margin: 10px 5px 0;
          }
        }
        .dmca-badge{
          img{
            width: 55px;
            padding-top: 18px;
          }
        }
      }
    }
  }
  .f-nav-title {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 4px 0 16px;
    line-height: 53px;
    text-transform: uppercase;
  }
  .f-nav-list{
    li {
      margin:0px 5px 0;
      a {
        display: inline-block;
        font-size: 13px;
        line-height: 17px;
        color: #a1acb6;
        &:hover {
          color: #fff;
        }
      }
      ul{
        &.pay {
          display: flex;
          text-align: center;
          margin-top: 10px;
          width: 100%;
          padding: 0;
          justify-content: center;
          li {
            list-style: none;
            margin: 3px 3px;
          }
        }
      }
    }
  }
}
.gold {
  color: #ffdb4a;
}
.f-copyright {
  background: #15212d;
  padding: 12px 0;
  color: #fff;
  border-top: 1px solid #515151;
  p{
    font-size: 13px;
    color: #fff;
    margin-bottom: 8px;
  }
}