.news-category{
  .ul-lev2{
    display: none;
  }
  .ul-lev1{
    &:hover{
      .ul-lev2{
        display: block;
      }
    }
  }
  .content-news{
    .ht-breadcrumb{
      padding: 10px 0;
      margin: 0;
      font-size: 0;
      border-radius: 2px;
      margin-top: 10px;
      >li {
        position: relative;
        display: inline-block;
        z-index: 7;
        vertical-align: top;
        padding: 0 24px 0 0;
        line-height: 16px;
        font-size: 12px;
        &::after {
          content: "/";
          display: block;
          position: absolute;
          top:0px;
          right: 0;
          width: 24px;
          line-height: 16px;
          text-align: center;
          color: #bdbdbd;
        }
        &:last-child{
          &::after{
            display: none;
          }
        }
        >a,span {
          position: relative;
          padding: 9px 0;
          line-height: 16px;
          font-size: 12px;
          color: #000;
          max-width: 240px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          z-index: 1;
        }
        h1{
          position: relative;
          display: inline-block;
          z-index: 7;
          vertical-align: top;
          padding: 0 24px 0 0;
          line-height: 16px;
          font-size: 12px;
        }
        &.active {
          color: #2dbeb3;
          h1{
            color: #2dbeb3;
          }
        }
      }
    }
  }
  .news-home{
    .box-news-home{
      margin-bottom: 20px;
      transition: all 0.25s;
      &:hover{
        box-shadow: 0 10px 15px 0 #0000001a;
        transition: all 0.25s;
      }
      .card-content{
        padding: 8px 12px;
      }
      hr {
        margin-top: 13px;
        margin-bottom: 13px;
        border-top: 1px solid #eaeaea;
      }
      .btn-cateall {
        position: relative;
        text-align: center;
        line-height: 29px;
        padding: 0 0 10px;
        .btn-cate-all {
          color: #000;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 13px;
          padding: 3px;
        }
      }
    }
  }
  .inner_title{
    position: relative;
    padding-bottom:10px;
    margin-bottom: 0px;
    color:#000;
    &::before{
      position: absolute;
      content:"";
      width: 118px;
      height: 2px;
      background: #000;
      left: 0px;
      bottom: 0px;
      display: inline-block;
      right: unset;
    }
    .h2 {
      line-height: 30px;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 25px;
      text-transform: uppercase;
    }
    p{
      font-size: 12px;
    }
  }
  .sidebar-list-cate{
    margin: 15px 0 28px 0;
    .sidebar-category-list {
      padding: 0;
      margin: 0;
      li {
        position: relative;
        margin: 0 0 6px;
        padding: 0 0 0 16px;
        font-size: 13px;
        i.fa {
          position: absolute;
          top: 5px;
          left: 0;
          display: block;
          line-height: 16px;
          color: #aaa;
        }
        a {
          display: inline-block;
          line-height: 16px;
          font-size: 13px;
          color: #555;
          &:hover{
            color: #2dbeb3;
          }
          .news-thumb{
            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .sidebar-news-list{
    padding: 0;
    margin: 0;
    li{
      display:flex;
      margin-bottom: 30px;
      a.news-thumb {
        display: inline-block;
        width: 90px;
        height: 80px;
        margin-right: 10px;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .news-detail{
        max-width: 146px;
        .news-title {
          margin: 0 0 4px;
          line-height: 17px;
          font-size: 13px;
          font-weight: 500;
          a {
            color: #333;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-weight: 600;
            &:hover{
              color: #3cbeb3;
            }
          }
        }
        .news-meta {
          line-height: 16px;
          font-size: 12px;
          color: #555;
          padding: 0;
          i {
            color: #29bfb3;
            font-size: 15px;
            margin: 5px;
          }
        }
      }
    }
  }
  .btn-new-left{
    margin-top: 24px;
    opacity: .8;
    color: #fff;
    background-color: #2dbeb3;
    border-color: transparent;
    text-transform: uppercase;
    border-radius: 20px;
    width: 170px;
    font-weight: 600;
    padding: 8px 14px;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    .fa-caret-right {
      margin-left: 8px;
    }
  }
}
.content-new-detail{
  .ht-news-meta{
    font-size: 12px;
    padding: 10px 0 0 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    >span {
      display: inline-block;
      margin-right: 12px;
      line-height: 16px;
      font-size: 12px;
      color: #777;
      i {
        margin-right: 8px;
        color: #2dbeb3;
      }
      a{
        color: #777;
      }
    }
  }
  .no_bullets{
    background: #f7f6fa;
    padding: 17px;
    border: 1px solid #ccc;
    .toc_title {
      font-weight: 700;
    }
    .toc_list{
      padding: 0 20px;
      line-height: 22px;
      li{
        list-style-type: decimal;
        display: list-item;
        text-align: -webkit-match-parent;
        a{
          font-size: 13px;
          color: #2dbeb3;
        }
      }
    }
  }
  .displayTableContent{
    cursor: pointer;
  }
  .content-item{
    font-size: 14px;
    line-height: 25px;
    color: #333;
    padding-top: 30px;
    strong{
      margin-bottom: 15px;
    }
    p{
      margin-bottom: 10px;
    }
  }
}