.category-content{
  .sidebar-title{
    padding: 40px 1px 26px;
    h3{
      margin: 0;
      font-size: 20px;
      line-height: 18px;
      font-weight: 700;
      text-transform: uppercase;
      span.title1-catefeild{
        position: relative;
        color: #3cbeb3;
        font-weight: bold;
        display: inline-block;
        padding-bottom: 20px;
        &::before{
          position: absolute;
          content:'';
          width: 100%;
          background-color: #9de4df;
          height: 4px;
          bottom: 0px;
          left: 0px;
        }
      }
    }
  }
  .sidebar-content{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 11px;
    .sidebar-cat-list{
      li {
        position: relative;
        margin: 0 0 18px;
        padding: 0 0 0 1px;
        a {
          display: inline-block;
          line-height: 25px;
          font-size: 13px;
          color: #000;
          font-weight: 400;
          &:hover{
            color: #3cbeb3;
          }
          img {
            width: 27px;
            margin-right: 6px;
          }
        }
        &::after {
          border-bottom: 1px solid #e1e1e1;
          content: '';
          position: absolute;
          left: 0;
          right: -26px;
          width: 80%;
          bottom: -10px;
          margin: 0 auto;
        }
      }
    }
  }
  .banner-category{
    margin-bottom: 25px;
  }
  &.news-home{
    .bt-4new{
      .card-content{
        padding: 0px;
      }
    }
  }
}
