@media (min-width: 1200px) {
    .row-10{
      margin: 0px -10px!important;
    }
    .padd-10{
      padding: 0px 10px!important;
    }
    .col-20{
      width: 20% !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
  .main-category{
    .category-all{
      .vertical-navbar{
        .ul-lev2{
          max-width: 212px;
        }
      }
    }
    .bar-mid{
      .form-search{
        input{
          width: 100%;
          min-width: 350px;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .menu_mb{
    .list-mobile{
      right: 70px;
    }
  }
  .main-category{
    .category-all{
      .vertical-navbar{
        .ul-lev2{
          max-width: 220px;
        }
      }
    }
    .bar-mid{
      .form-search{
        display: none;
      }
    }
  }
}
@media (max-width: 767px){
  .main-category{
    .category-all{
      .vertical-navbar{
        .list-title{
          text-align: center;
          padding: 12px 0px;
          i{
            height:unset;
            line-height:unset;
            display: inline-block;
            position: unset;
          }
        }
        .ul-lev2{
          width: 100%;
          max-width:unset;
          left:0px;
          display: none;
          li{
            &.site-nav-icon{
              padding-left: 110px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 575px){
  .main-category{
    .category-all{
      .vertical-navbar{
        .ul-lev2{
          li{
            &.site-nav-icon{
              padding-left:0px;
            }
          }
        }
      }
    }
  }
}