@charset "UTF-8";
/*======================================== config =================================*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: calc(10em / 16);
}

p {
  margin: 0px;
  color: #000;
}

a {
  text-decoration: none;
  color: #252525;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #2dbeb3;
}

a,
button,
input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

* {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  background: #fff;
  font-family: Roboto;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
  color: #757575;
  width: 100%;
  height: 100%;
  font-size: 15px;
  min-height: 1500px;
}

del {
  font-size: 12px;
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
  color: #252525;
  font-family: Roboto;
}

.w_100 {
  width: 100%;
}

.row-flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

.flex-reverse {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap-reverse;
}

@keyframes animatedown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.fixed {
  position: fixed !important;
  top: 0px;
  z-index: 99;
  width: 100%;
  transition: top 0.3s;
  animation: animatedown 0.6s;
}

[class^='clearfix'] {
  clear: both;
  display: block;
}

.clearfix-130 {
  height: 130px;
}

.clearfix-100 {
  height: 100px;
}

.clearfix-80 {
  height: 80px;
}

.clearfix-60 {
  height: 60px;
}

.clearfix-55 {
  height: 55px;
}

.clearfix-50 {
  height: 50px;
}

.clearfix-45 {
  height: 45px;
}

.clearfix-40 {
  height: 40px;
}

.clearfix-35 {
  height: 35px;
}

.clearfix-30 {
  height: 30px;
}

.clearfix-32 {
  height: 32px;
}

.clearfix-25 {
  height: 25px;
}

.clearfix-20 {
  height: 20px;
}

.clearfix-15 {
  height: 15px;
}

.clearfix-12 {
  height: 12px;
}

.clearfix-10 {
  height: 10px;
}

.clearfix-5 {
  height: 5px;
}

/*======================================== end config =================================*/
/*=========================================== begin menu =======================================*/
.menu_main {
  background: transparent;
  float: left;
}

.nav.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow-y: auto;
  visibility: hidden;
  width: 300px;
  max-width: 70%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-overflow-scrolling: touch;
}

.nav-container.is-visible {
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.nav-toggle {
  line-height: 1;
  display: inline-block;
  padding: 2px;
  border: 0;
  background-color: transparent;
  right: 15px;
  width: 45px;
  height: 60px;
  position: fixed;
  z-index: 99;
  outline: none;
  top: 0px;
}

.nav-toggle span {
  position: relative;
  margin: auto;
  display: block;
  width: 30px;
  height: 2px;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: #35a79f;
  /*color btn menu mobile*/
}

.nav-toggle.is-active span {
  background: transparent;
}

.nav-toggle span:before, .nav-toggle span:after {
  content: '';
  top: -7px;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #35a79f;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav-toggle.is-active span:before {
  -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
  -ms-transform: translateY(7px) translateX(0) rotate(45deg);
  transform: translateY(7px) translateX(0) rotate(45deg);
}

.nav-toggle span:after {
  top: inherit;
  bottom: -7px;
}

.nav-toggle.is-active span:after {
  -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
  -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
  transform: translateY(-7px) translateX(0) rotate(-45deg);
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu {
  /* background-color: #0d7cd6; /* background menu mobile */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-menu .menu-item {
  border-top: 1px solid #71d0c9;
}

.nav-menu > .menu-item.is-active {
  /*background: #085a9c;*/
}

.nav-menu > .menu-item.is-active > .menu-link {
  border-bottom: 2px solid transparent;
}

.nav-menu > .menu-item:hover {
  /*background:#1c73ea;*/
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu > .menu-item:hover > .menu-link {
  color: #fff;
}

.nav-menu > .menu-item.is-active.has-dropdown:after,
.nav-menu > .menu-item:hover.has-dropdown:after {
  color: #ffffff;
}

.nav-dropdown > .menu-item {
  padding: 10px;
}

.nav-menu .menu-link {
  font-family: Roboto;
  font-size: 14px;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}

.has-dropdown {
  position: relative;
  cursor: pointer;
}

.has-dropdown > .menu-link {
  display: inline-block;
}

.has-dropdown:after {
  padding-top: 0px;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  content: "\f107";
  font: normal normal normal 20px/1 FontAwesome;
  color: #fff;
  line-height: 39px;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.has-dropdown.is-active:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-dropdown {
  display: none;
  background: #fff;
}

.nav-dropdown .nav-dropdown {
  background-color: #aaa;
}

.nav-dropdown .nav-dropdown .menu-item {
  background-color: #0f9ba3 !important;
}

@media (max-width: 991px) {
  .nav-container {
    overflow-x: hidden;
    background: #37a79f;
    /* background menu mobile */
    padding-bottom: 100px;
  }
}
/*============= menu_desktop ==============*/
@media (min-width: 992px) {
  .nav,
  .nav-container,
  .nav-container.is-visible {
    position: static;
    top: auto;
    left: auto;
    z-index: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .nav-container,
  .nav-container.is-visible {
    visibility: visible;
    height: auto;
    min-height: 0;
    overflow-y: visible;
    width: 100%;
    max-width: 100%;
  }

  .nav-toggle {
    display: none;
  }

  .nav-menu > .menu-item:hover,
  .nav-menu > .menu-item.is-active {
    background-color: transparent;
    /* background khi hover và active menu-item */
  }

  .nav-menu .menu-item {
    -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  }

  .nav-menu .menu-link {
    display: block;
    padding: 8px 18px 8px 12px;
    line-height: 22px;
    font-size: 13px;
    color: #010101;
    white-space: nowrap;
  }

  .nav-menu .menu-link h5 {
    font-weight: 400;
  }

  .nav-menu .menu-link:hover span {
    color: #dbdbdb;
    font-weight: 300;
  }

  .nav-menu .menu-link span {
    width: calc(100% - 30px);
    display: inline-block;
    position: relative;
  }

  .nav-menu .menu-link span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #dbdbdb;
    left: 0px;
    bottom: -15px;
  }

  .nav-menu .menu-link h5 img {
    width: 30px !important;
  }

  .has-dropdown:after {
    content: "\f0d7";
    /*icon dropdown menu pc */
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
  }

  .nav-menu > .has-dropdown:after {
    position: absolute;
    top: 50%;
    bottom: inherit;
    right: 5px;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    line-height: 10px;
  }

  .nav-menu > .menu-item.is-active.has-dropdown:after,
  .nav-menu > .menu-item:hover.has-dropdown:after {
    color: #000;
    /*color khi hover icon dropdown menu pc */
  }

  .nav-dropdown {
    overflow: hidden;
    left: 0px;
    display: block;
    opacity: 0;
    position: absolute;
    top: 100%;
    width: 240px;
    background-color: #fff;
    border-bottom: 3px solid #2dbeb3;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  }

  .has-dropdown:hover > .nav-dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  .nav-dropdown .menu-item {
    border: 0;
    margin-top: 1px;
  }

  .nav-dropdown .menu-item:last-child {
    border: 0;
    border-bottom: none;
  }

  .nav-dropdown .menu-item:hover .menu-link,
  .nav-dropdown .menu-item:hover .menu-link {
    color: #ffffff;
  }

  .nav-dropdown .nav-dropdown,
  .nav-dropdown .nav-dropdown .menu-item {
    background-color: #dedede;
  }

  .nav-dropdown .nav-dropdown {
    z-index: 998;
    top: 0;
    left: 100%;
  }

  /*padding, color, font-size menu pc*/
  .nav-menu > .menu-item > .menu-link {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: all 0.25s linear;
  }

  .nav-menu > .menu-item:hover > .menu-link {
    border-bottom: 2px solid transparent;
    transition: all 0.15s linear;
  }

  /* /padding menu pc*/
  .nav-menu > .menu-item {
    position: relative;
    float: left;
    border-top: 0px;
  }

  .nav-menu > .menu-item:last-child {
    padding-right: 0px;
  }

  .nav-menu,
  .nav {
    background: none;
  }

  .nav-menu > .menu-item.is-active > .menu-link,
  .nav-menu > .menu-item:hover > .menu-link {
    color: #dcdcdc;
    /*color khi hover và active menu pc*/
  }

  .nav-dropdown > .menu-item {
    padding: 0;
    background: #ffffff;
  }

  .nav-dropdown > .menu-item > .menu-link {
    color: #0d0d0d;
  }

  .nav-dropdown > .menu-item:hover > .menu-link {
    color: #ffffff;
  }

  .nav-menu > .menu-item {
    position: relative;
  }
}
.menu_mb {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 9;
  padding: 1px 5px;
  height: 60px;
  box-shadow: 0 0 3px 2px #ccc;
}

.logo_mb {
  height: 50px;
  margin-top: 5px;
  margin-left: 15px;
}

.img_logo_mb {
  max-height: 100%;
  max-width: 100%;
  height: 45px;
  margin-top: 5px;
}

.menu_main .nav.is-fixed {
  position: relative;
  z-index: 105;
}

.logo_pc img {
  max-width: 100%;
}

.menu_header {
  background: transparent;
}

/*============= end menu_desktop ==============*/
/*=========================================== end menu =======================================*/
/*=========================================== btn search **=======================================*/
.search_drop {
  position: relative;
  margin-top: 27px;
  padding-left: 10px !important;
}

.search_drop .form_search {
  position: absolute;
  z-index: 999;
  width: 290px;
  top: 100%;
  right: -15px;
  background: #fff;
  border-top: 2px solid #0098da;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 15px 10px;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}

.search_drop .form_search input.form-control {
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
}

.search_drop .form_search button.btn-default {
  height: 32px;
  border-radius: 0;
  background: #000;
  color: #fff;
  border: 0;
  text-transform: uppercase;
}

.search_drop .form_search:before {
  position: absolute;
  top: -8px;
  right: 19px;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 6px 5.5px;
  border-color: transparent transparent #0098da transparent;
}

.search_drop .form_search.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}

.menu_mb .search_drop {
  position: fixed;
  top: 0px;
  bottom: auto;
  height: 62px;
  left: 0;
  z-index: 999;
  margin: auto;
  border: 0;
  padding-left: 0 !important;
  cursor: pointer;
}

.menu_mb .search_drop .btn_search {
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  display: block;
  margin: 11px 0;
  font-size: 25px;
}

.menu_mb .search_drop .form_search:before {
  right: 13px;
}

.menu_mb .search_drop .form_search {
  position: fixed;
  right: 0px;
  width: 100%;
  top: 0;
  visibility: hidden;
  transform: translateY(0px);
}

.menu_mb .search_drop .form_search.open {
  visibility: visible;
  z-index: 11;
}

/*=========================================== end btn search **=======================================*/
/*=========================================== tìm kiếm theo danh mục **=======================================*/
.search_box {
  margin: 10px auto;
  max-width: 500px;
}

.search_box .input-group {
  display: flex;
}

.btn-select {
  height: 40px;
  border: 2px solid #0098da;
}

.btn-select option {
  padding: 5px;
}

.input_search {
  border: 2px solid #0098da;
  height: 40px;
  font-size: 12px;
  border-left: 1px solid #ccc;
}

.input_search[type="text"]:focus {
  outline: 0;
}

.but_search_top {
  background: #0098da;
  border: 2px solid #0098da;
  height: 40px;
  width: 114px;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0px;
}

.but_search_top:hover, .but_search_top:focus, .but_search_top.focus, .but_search_top:active, .but_search_top.active, .open > .but_search_top.btn-default {
  color: #ff0000;
  background: #0098da;
  border: 2px solid #0098da;
}

/*=========================================== end tìm kiếm theo danh mục **=======================================*/
.arrow-slider {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  color: #a0a0a0;
  text-align: center;
  font-size: 23px;
  line-height: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
}

/*** Scroll To Top style ***/
.scroll-top {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: -60px;
  right: 30px;
  font-size: 20px;
  border-radius: 50%;
  z-index: 99;
  color: #000;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
  background: #fff;
}

.scroll-top:hover {
  background: #3cbeb3;
  color: #fff;
}

.scroll-top span::before {
  font-size: 55px;
}

.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}

.scroll-top.open {
  bottom: 30px;
}

button.scroll-top:focus {
  outline: none;
}

button.scroll-top {
  border: none;
}

/* ================================== menu dọc ** =================================*/
.sidebar .title_sidebar {
  background: #0098da;
  color: #fff;
  font-size: 16px;
  font-family: Roboto_Bold;
  position: relative;
  padding: 15px 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.sidebar .menu-aside {
  border: 1px solid #ccc;
  padding: 5px 0;
}

.sidebar .menu-aside li {
  font-family: Roboto_Regular;
  font-size: 14px;
  border-bottom: 1px dashed #ccc;
}

.sidebar .menu-aside li a {
  display: block;
  color: #333;
  padding: 7.5px 13px;
}

.sidebar .menu-aside li:last-child {
  border-bottom: 0;
}

.sidebar .menu-aside li:hover > a, .sidebar .menu-aside li.is-active > a {
  color: #0098da;
}

.menu-aside .has-dropdown:after {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  line-height: 40px;
  color: #000;
}

.nav-aside {
  left: 100%;
  top: -1px;
  border: 1px solid #ccc;
  z-index: 999;
  background: #fff;
}

@media (max-width: 991px) {
  .nav-aside {
    border: 0;
    border-top: 1px solid #ccc;
  }

  .sidebar .menu-aside li.has-dropdown.is-active {
    border-bottom: 1px solid #ccc;
  }

  .sidebar .menu-aside .nav-aside li a {
    padding-left: 20px;
  }

  .sidebar .menu-aside > li.has-dropdown > a {
    display: inline-block;
  }
}
/* ================================== end menu dọc **=================================*/
/*menu fix desktop*/
.menu_header {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.fixed {
  position: fixed !important;
  background: #fff;
  top: 0px !important;
  margin-top: 0px !important;
  z-index: 100;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.menu_header.fixed .nav-menu > .menu-item > .menu-link {
  color: #000;
}
.menu_header.fixed .container-fluid .logo_pc a {
  margin-top: 43px;
}
.menu_header.fixed .container-fluid .logo_pc a img.pc-logo {
  display: none;
}
.menu_header.fixed .container-fluid .logo_pc a img.pc-logo-fix {
  display: block;
}
.menu_header.fixed .container-fluid .account-cart li a {
  color: #000;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?vmh5x1");
  src: url("../fonts/fontello.eot?vmh5x1#iefix") format("embedded-opentype"), url("../fonts/fontello.ttf?vmh5x1") format("truetype"), url("../fonts/fontello.woff?vmh5x1") format("woff"), url("../fonts/fontello.svg?vmh5x1#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontello' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-booking:before {
  content: "\e900";
}

.icon-click:before {
  content: "\e901";
}

.icon-Group:before {
  content: "\e902";
}

.icon-Palette:before {
  content: "\e903";
}

.icon-Vector:before {
  content: "\e904";
}

.icon-left:before {
  content: "\e906";
}

.icon-play:before {
  content: "\e907";
}

.icon-right:before {
  content: "\e908";
}

.icon-v:before {
  content: "\e909";
}

.icon-dot_v:before {
  content: "\e910";
}

.icon-back-top:before {
  content: "\e911";
}

.icon-evanto:before {
  content: "\e912";
}

.icon-phone-receiver-silhouette:before {
  content: "\d1001";
}

.icon-cancel:before {
  content: "\d1002";
}

.icon-user:before {
  content: "\d1003";
}

.menu_mb .list-mobile {
  position: absolute;
  right: 95px;
  top: 13px;
}
.menu_mb .list-mobile li {
  font-size: 20px;
  padding: 5px;
  float: left;
}
.menu_mb .list-mobile li:last-child {
  position: relative;
}
.menu_mb .list-mobile li:last-child span {
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 12px;
  border-radius: 50%;
  top: -5px;
  right: -20px;
  border: 1px solid #2dbeb3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-search-mb input {
  border-radius: 0px;
  border: none;
}
.form-search-mb .btn-search-mb {
  background: #feaf0f;
  border: none;
  border-radius: 0px;
}
.form-search-mb .btn-search-mb button {
  border: none;
  color: #fff;
  background: #feaf0f;
}

.menu_header {
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px #0000000a, 0 1px 2px #00000014;
}
@media (max-width: 991px) {
  .menu_header {
    height: 60px;
  }
}
.menu_header .sh_logo {
  height: 53px;
  line-height: 53px;
}
.menu_header .sh_logo span {
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.menu_header .sh_logo a {
  max-width: 320px;
}
.menu_header .sh_logo a img {
  height: 45px;
  margin: 3px;
}

.menu_main {
  margin-top: 10px;
}
@media (min-width: 992px) {
  .menu_main .nav-menu > li > a {
    position: relative;
    display: inline-block;
  }
  .menu_main .nav-menu > li > a::after {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 5px;
    background: #2dbeb3;
    transition: width .3s;
  }
  .menu_main .nav-menu > li > a:hover::after {
    width: 50%;
    margin-top: 5px;
  }
}
.menu_main .nav-menu > li > a {
  display: block;
  padding: 10px 10px;
  line-height: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}
@media (max-width: 991px) {
  .menu_main .nav-menu > li > a {
    color: #fff;
  }
}
.menu_main .nav-menu > li > a h3 {
  line-height: 20px;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.menu_main .nav-menu > li.logo_mb_2 img {
  width: 112px;
}
.menu_main .nav-menu > li.has-dropdown > a {
  padding: 10px 22px 10px 10px;
}
.menu_main .nav-menu > li img {
  width: 20px;
}

.control-action {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control-action li {
  list-style: none;
}
.control-action li:first-child .ht-label {
  font-weight: 600;
  width: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  margin-top: 2px;
  padding-bottom: 4px;
  line-height: 29px;
  font-size: 14px;
  text-align: left;
  color: #333;
}
.control-action li:last-child .btn {
  font-size: 15px;
  padding: 5px 19px 5px 19px;
  color: #fff;
  font-weight: 600;
  background: #fd5b4e;
  border-radius: 18px;
}
.control-action li:last-child .btn:hover {
  opacity: .8;
}

.modal-content {
  width: 384px;
  margin: 0px auto;
  border-radius: 20px;
  padding: 70px 20px 20px;
}
@media (max-width: 767px) {
  .modal-content {
    width: 300px;
    padding: 70px 15px 15px;
  }
}
.modal-content .btn-close {
  padding: 0px;
  margin: 0px;
  border: none;
  display: block;
  position: absolute;
  top: 20px;
  font-size: 25px;
  z-index: 1;
  line-height: 17px;
  left: 20px;
  border-radius: 50%;
  text-align: center;
  color: #2dbeb3;
  cursor: pointer;
  -moz-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  background: transparent;
}
.modal-content .btn-close:focus, .modal-content .btn-close:active, .modal-content .btn-close:hover {
  outline: none;
  background: transparent;
}
.modal-content .list-login li {
  border-radius: 0px 20px 0px 136px;
  width: 132px;
  position: absolute;
  background: linear-gradient(90deg, #41e6c7 43%, #3ae7dc 100%);
  height: 132px;
  z-index: 10;
  right: 0px;
  top: 0px;
}
.modal-content .list-login li.active {
  z-index: -1;
}
.modal-content .list-login li.login-tabs-t {
  background: linear-gradient(45deg, #4de4b8 0%, #fbc104 122%);
}
.modal-content .list-login li a {
  color: #fff;
  width: 100%;
  padding: 0;
  margin: 20px -12px;
  font-weight: 600;
  text-align: right;
  line-height: 27px;
  display: inline-block;
}
.modal-content .ht-card {
  padding: 17px 30px 16px;
  margin-bottom: 12px;
  background-color: #fff;
  display: block;
}
.modal-content .ht-card .ht-title {
  text-align: left;
  font-size: 20px;
  margin: 4px 0 16px;
  line-height: 53px;
  font-weight: 800;
  color: #333;
}
.modal-content .ht-card .signin-form input {
  height: 39px;
  border-radius: 20px;
  border-color: #3fe6cd;
}
.modal-content .ht-card .signin-form p {
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
  margin-bottom: 8px;
}
.modal-content .ht-card .signin-form .pass {
  display: flex;
  margin: 10px 2px 0px 2px;
  align-items: center;
  justify-content: space-between;
}
.modal-content .ht-card .signin-form .pass .checkbox input[type="checkbox"] {
  height: 17px;
}
.modal-content .ht-card .signin-form .pass .qmk {
  font-size: 12px;
}
.modal-content .ht-card .signin-form .ht-btn-primary {
  border-radius: 50px;
  text-transform: uppercase;
  margin-bottom: 12px;
  line-height: 17px;
  height: 37px;
  margin-top: 5px;
  color: #fff;
  background-color: #2dbeb3;
  border-color: transparent;
  font-weight: 500;
}
.modal-content .ht-card .signin-form .ht-btn-primary.btn-login-out, .modal-content .ht-card .signin-form .ht-btn-primary.btn-logout-pop {
  background: linear-gradient(90deg, #41e6c7 43%, #3ae7dc 100%);
  width: 100%;
}
.modal-content .ht-card .signin-form .ht-btn-primary.btn-login-out:active, .modal-content .ht-card .signin-form .ht-btn-primary.btn-login-out:focus, .modal-content .ht-card .signin-form .ht-btn-primary.btn-logout-pop:active, .modal-content .ht-card .signin-form .ht-btn-primary.btn-logout-pop:focus {
  outline: none;
}
.modal-content .ht-card .signin-form .ht-btn-primary.btn-logout-pop {
  background: linear-gradient(90deg, #4de4b8 0%, #fbc104 100%);
}

.main-category {
  background-color: #2dbeb3;
}
.main-category .category-all .vertical-navbar .list-title {
  padding: 12px 12px 12px 47px;
  height: 100%;
  font-size: 15px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  background-color: #ffdb4a;
  display: block;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}
.main-category .category-all .vertical-navbar .list-title i {
  width: 52px;
  height: 44px;
  font-size: 18px;
  line-height: 52px;
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  text-align: center;
}
.main-category .category-all .vertical-navbar .ul-lev2 {
  position: absolute;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 2px 3px 2px #cccccc1f;
  width: 100%;
  min-height: 480px;
  max-width: 262px;
  padding: 0px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li::after {
  border-bottom: 1px solid #b8b8b83d;
  content: '';
  position: absolute;
  left: 0;
  right: -21px;
  width: 70%;
  bottom: 0;
  margin: 0 auto;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon {
  position: relative;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon > .nav-item {
  display: block;
  position: relative;
  padding-left: 50px;
  line-height: 21px;
  background: url(../img/icon-all.jpg) no-repeat;
  background-position: 5px 3px;
  width: 100%;
  height: 37px;
  font-size: 14px;
  font-weight: 400;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon > .nav-item h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 35px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:first-child {
  padding-top: 7px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:nth-child(2) > .nav-item {
  background-position: 5px -31px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:nth-child(3) > .nav-item {
  background-position: 5px -70px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:nth-child(4) > .nav-item {
  background-position: 5px -104px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:nth-child(5) > .nav-item {
  background-position: 5px -138px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:nth-child(6) > .nav-item {
  background-position: 5px -171px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:nth-child(7) > .nav-item {
  background-position: 5px -204px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:nth-child(8) > .nav-item {
  background-position: 5px -239px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:nth-child(9) > .nav-item {
  background-position: 5px -271px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:nth-child(10) > .nav-item {
  background-position: 5px -303px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:nth-child(11) > .nav-item {
  background-position: 7px -337px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:hover > .nav-item {
  background: url(../img/icon-hover.jpg) no-repeat;
  background-position: 5px 3px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:hover > .nav-item h2 {
  color: #2dbeb3;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:hover:nth-child(2) > .nav-item {
  background: url(../img/icon-hover.jpg) no-repeat;
  background-position: 5px -31px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:hover:nth-child(3) > .nav-item {
  background: url(../img/icon-hover.jpg) no-repeat;
  background-position: 5px -70px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:hover:nth-child(4) > .nav-item {
  background: url(../img/icon-hover.jpg) no-repeat;
  background-position: 5px -104px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:hover:nth-child(5) > .nav-item {
  background: url(../img/icon-hover.jpg) no-repeat;
  background-position: 5px -138px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:hover:nth-child(6) > .nav-item {
  background: url(../img/icon-hover.jpg) no-repeat;
  background-position: 5px -171px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:hover:nth-child(7) > .nav-item {
  background: url(../img/icon-hover.jpg) no-repeat;
  background-position: 5px -204px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:hover:nth-child(8) > .nav-item {
  background: url(../img/icon-hover.jpg) no-repeat;
  background-position: 5px -239px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:hover:nth-child(9) > .nav-item {
  background: url(../img/icon-hover.jpg) no-repeat;
  background-position: 5px -271px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:hover:nth-child(10) > .nav-item {
  background: url(../img/icon-hover.jpg) no-repeat;
  background-position: 5px -303px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon:hover:nth-child(11) > .nav-item {
  background: url(../img/icon-hover.jpg) no-repeat;
  background-position: 7px -337px;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.btn-all {
  background: #fff7d5;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.btn-all:after {
  display: none;
}
.main-category .category-all .vertical-navbar .ul-lev2 li.btn-all a {
  text-align: center;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  display: block;
}
.main-category .bar-mid {
  display: flex;
  float: right;
}
.main-category .bar-mid .form-search {
  display: inline-block;
  float: left;
  position: relative;
  padding: 5px 9px 0px 0px;
}
.main-category .bar-mid .form-search input {
  width: 554px;
  padding: 0px 17px;
  font-size: 14px;
  margin: 4px;
  border: 0 none;
  border-radius: 22px;
  height: 33px;
  color: #636363;
  background: #fff;
  float: left;
  box-sizing: border-box;
}
.main-category .bar-mid .form-search .btn-search {
  position: absolute;
  border: 0 none;
  background: #ffd800;
  float: right;
  font-size: 13px;
  text-transform: uppercase;
  width: 110px;
  right: 1px;
  font-weight: bold;
  margin: 6px;
  text-align: center;
  height: 29px;
  line-height: 13px;
  cursor: pointer;
  color: #363636;
  border-radius: 18px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-category .bar-mid .form-search .btn-search button {
  border: none;
  background: #ffd800;
  padding: 0px;
}
.main-category .bar-mid .cart-tab {
  margin-right: 14px;
}
.main-category .bar-mid .cart-tab .navbar-action {
  flex: 0 0 auto;
  padding: 0 0 0;
  transition: padding 0.2s ease-in-out;
}
.main-category .bar-mid .cart-tab .navbar-action a.btn--create-new-shop {
  position: relative;
  display: flex;
  height: 34px;
  margin-top: 9px;
  line-height: 19px;
  padding: 5px 15px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3a607d;
  border-radius: 20px;
  align-items: center;
}
.main-category .bar-mid .cart-tab .navbar-action a.btn--create-new-shop .fa-cart-plus {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 23px;
  position: relative;
  top: 0px;
  margin-right: 4px;
  text-transform: uppercase;
}
.main-category .bar-mid .cart-tab .navbar-action a.btn--create-new-shop .text-heds {
  line-height: 22px;
}
.main-category .bar-mid .cart-tab .navbar-action a.btn--create-new-shop .action-badge-count {
  margin-left: 5px;
  display: inline-block;
  line-height: 16px;
  font-size: 11px;
  text-align: center;
  width: 16px;
  height: 16px;
  font-weight: 700;
  color: #000;
  background-color: #ffdb4a;
  border-radius: 50%;
}
.main-category .bar-mid .cart-tab1 a {
  display: inline-block;
  background: #ee3d77;
  margin-top: 8px;
  width: 100%;
  padding: 9px 21px 9px 21px;
  height: 35px;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  border-radius: 18px;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.main-category .bar-mid .cart-tab1 a .fa-print {
  margin-right: 2px;
  font-size: 15px;
}
.main-category .bar-mid .cart-tab1 a .text-heds {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.slider_main .item img {
  min-height: 480px;
}
@media (max-width: 991px) {
  .slider_main .item img {
    height: 45vh;
    object-fit: cover;
  }
}
.slider_main .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  margin: 0px 5px;
  background: #fff;
}
.slider_main .owl-dots .owl-dot.active span, .slider_main .owl-dots .owl-dot:hover span {
  background-color: #ffdb4a;
}

.banner-item {
  background: #000;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: #fff;
}
.banner-item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  transition: .5s;
  transform: scaleX(0);
  opacity: 0;
}
.banner-item::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  box-sizing: border-box;
  transition: .5s;
  transform: scaleY(0);
  opacity: 0;
}
.banner-item .imgBox {
  position: relative;
}
.banner-item .imgBox img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}
.banner-item:hover::before {
  transform: scaleX(1);
  opacity: 1;
  z-index: 1;
}
.banner-item:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
.banner-item:hover .imgBox img {
  opacity: 0.6;
}

.banner {
  margin-top: 55px;
}
@media (max-width: 992px) {
  .banner {
    margin-top: 35px;
  }
}
.banner .slider-banner .item .banner-item {
  background: #000;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: #fff;
}
.banner .slider-banner .item .banner-item p, .banner .slider-banner .item .banner-item h0 {
  color: #fff;
}
.banner .slider-banner .item .banner-item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  transition: .5s;
  transform: scaleX(0);
  opacity: 0;
}
.banner .slider-banner .item .banner-item::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  box-sizing: border-box;
  transition: .5s;
  transform: scaleY(0);
  opacity: 0;
}
.banner .slider-banner .item .banner-item .imgBox {
  position: relative;
}
.banner .slider-banner .item .banner-item .imgBox img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}
.banner .slider-banner .item .banner-item .text-banner {
  position: absolute;
  left: 22px;
  text-align: left;
  top: 35px;
}
.banner .slider-banner .item .banner-item .text-banner .hr {
  margin-left: -12px;
  border-left: 2px solid #fff;
}
.banner .slider-banner .item .banner-item .text-banner .hr .title-lv1 {
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 12px;
  font-weight: 400;
}
.banner .slider-banner .item .banner-item .text-banner .hr .title-lv2 {
  line-height: 0;
  font-size: 23px;
  margin-left: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1px 10px 0;
}
.banner .slider-banner .item .banner-item .text-banner .title-lv3 {
  font-size: 12px;
  font-weight: 400;
  padding: 0 43px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 20px;
  margin-bottom: 8px;
}
.banner .slider-banner .item .banner-item .text-banner .btn-page-primary {
  background: #fff;
  color: #000;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  margin-top: 10px;
  text-transform: uppercase;
  padding: 7px 14px 7px 14px;
  font-weight: 600;
  font-size: 13px;
  border-radius: 21px;
  line-height: 21px;
}
.banner .slider-banner .item .banner-item .text-banner .btn-page-primary i {
  margin-left: 10px;
  font-size: 12px;
}
.banner .slider-banner .item .banner-item:hover::before {
  transform: scaleX(1);
  opacity: 1;
  z-index: 1;
}
.banner .slider-banner .item .banner-item:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
.banner .slider-banner .item .banner-item:hover .imgBox img {
  opacity: 0.6;
}
.banner .slider-banner .owl-nav .owl-prev, .banner .slider-banner .owl-nav .owl-next {
  width: 30px;
  height: 32px;
  font-size: 0px;
}
.banner .slider-banner .owl-nav .owl-prev {
  background-image: url("../img/pew.png");
  background-repeat: no-repeat;
  left: -32px;
}
@media (max-width: 992px) {
  .banner .slider-banner .owl-nav .owl-prev {
    left: 15px;
  }
}
.banner .slider-banner .owl-nav .owl-next {
  background-image: url("../img/nex.png");
  background-repeat: no-repeat;
  right: -32px;
}
@media (max-width: 992px) {
  .banner .slider-banner .owl-nav .owl-next {
    right: 15px;
  }
}

.product-home {
  margin-top: 22px;
}
.product-home .title-product .title-chan {
  text-transform: uppercase;
  line-height: 53px;
  font-size: 30px;
  font-weight: 800;
  color: #fd5b4e;
  display: inline-block;
}
.product-home .title-product .title-chan span {
  display: inline-block;
  position: relative;
  color: #333;
}
.product-home .title-product .title-chan span::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 13px;
  background: #fd5b4e94;
  bottom: 16px;
  left: 0;
}
.product-home .title-product .product-filter-nav {
  float: right;
}
.product-home .title-product .product-filter-nav ul.filter-list li {
  display: inline-block;
  vertical-align: top;
}
.product-home .title-product .product-filter-nav ul.filter-list li a {
  display: block;
  padding: 13px 12px 0px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #555;
  border-top: 1px solid transparent;
}
@media (max-width: 1199px) {
  .product-home .title-product .product-filter-nav ul {
    display: none;
  }
}
.product-home .title-product .product-filter-nav .view-more {
  display: block;
  padding: 12px 7px 0px 10px;
  margin: 3px 0px 0px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 31px;
  font-size: 14px;
}
@media (max-width: 991px) {
  .product-home .title-product .product-filter-nav .view-more span {
    display: none;
  }
}
.product-home .product-item {
  margin-bottom: 27px;
}
.product-home .product-item .product-detail {
  margin-top: 12px;
}
.product-home .product-item .product-detail .pro-name a {
  display: -webkit-box;
  margin: 0px 1px;
  padding: 0;
  overflow: hidden;
  line-height: 23px;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.product-home .product-item .product-detail .pro-price {
  margin: 2px 0 8px;
  height: 18px;
  line-height: 16px;
  font-weight: 400;
  color: #000;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.product-home .product-item .product-detail .product_actions {
  margin-top: 15px;
}
.product-home .product-item .product-detail .product_actions .pri-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 22px;
  color: #000;
  line-height: 15px;
  border: 1px solid #959595;
  height: 32px;
}
.product-home .product-item .product-detail .product_actions .pri-btn .prink {
  color: #fd5b4e;
  margin-left: 5px;
}
.product-home .product-item:hover .product-detail .product_actions .pri-btn {
  background: #fd5b4e;
  border: 0;
  color: #fff;
}
.product-home .product-item:hover .product-detail .product_actions .pri-btn .prink {
  color: #fff;
}
.product-home .banner-product {
  margin: 50px 0px;
}
@media (max-width: 992px) {
  .product-home .banner-product {
    margin: 30px 0px;
  }
}
@media (max-width: 992px) {
  .product-home .banner-item {
    margin: 30px 0px;
  }
}
.product-home.product-home-style-2 {
  margin-top: 0px;
}
.product-home.all-home .title-product .product-filter-nav {
  float: none;
}
.product-home.all-home .product-item .product-detail .pro-name a span {
  color: #3cbeb3;
}
.product-home.all-home .product-item:hover .product-detail .product_actions .pri-btn {
  background: #3cbeb3;
}
@media (max-width: 1199px) {
  .product-home.all-home .title-product .product-filter-nav ul {
    display: block;
    overflow-y: scroll;
    white-space: nowrap;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .product-home.all-home .title-product .product-filter-nav ul {
    width: 200px;
  }
}

.review-home {
  background: url(../img/banner-top.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .review-home {
    padding: 70px 0 100px;
    background: #eaf4ff;
  }
}
.review-home .section-review {
  padding: 70px 0 35px;
}
.review-home .section-review .title_module_main {
  text-align: center;
  margin: 20px 0px 37px;
}
.review-home .section-review .title_module_main .inner_title {
  display: inline-block;
  position: relative;
  padding-bottom: 30px;
}
.review-home .section-review .title_module_main .inner_title .des {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color: #282828;
  line-height: 17px;
  margin: 0 0 10px;
}
.review-home .section-review .title_module_main .inner_title::before {
  position: absolute;
  content: "";
  width: 116px;
  height: 4px;
  background: #3cbeb3;
  bottom: 0px;
  margin: auto;
  left: 0px;
  right: 0px;
}
.review-home .section-review .title_module_main .h2, .review-home .section-review .title_module_main h2 {
  text-transform: uppercase;
  font-size: 27px;
  line-height: 29px;
  padding: 0;
  color: #282828;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0;
  position: relative;
}
.review-home .section-review .title_module_main .h2 h3 {
  font-size: 27px;
  line-height: 29px;
  font-weight: bold;
}
.review-home .section-review .title_module_main .h2 h3 .green {
  color: #3cbeb3;
  font-weight: bold;
}
.review-home .section-review .title_module_main .h2 h3 .gold {
  color: #ffdb4a;
}
@media (max-width: 991px) {
  .review-home .btn-video {
    text-align: center;
  }
}
.review-home .btn-video .click-video {
  background: #ff3d89;
  color: #fff;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 28px;
  position: absolute;
  bottom: -370px;
  width: 243px;
  right: 80px;
  text-align: center;
}
@media (max-width: 991px) {
  .review-home .btn-video .click-video {
    width: 100%;
    top: -17px;
    padding: 15px;
    left: 0;
    line-height: 86px;
    position: relative;
  }
}
.review-home .content {
  padding: 20px;
  margin-bottom: 20px;
}
.review-home .content .content-item {
  position: relative;
  padding-left: 60px;
  margin-bottom: 30px;
}
.review-home .content .content-item .icon {
  position: absolute;
  left: 0;
  top: -8px;
}
.review-home .content .content-item .content-right {
  margin-left: 35px;
}
.review-home .content .content-item .content-right .title-i1, .review-home .content .content-item .content-right .title-i2, .review-home .content .content-item .content-right .title-i3, .review-home .content .content-item .content-right .title-i4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
.review-home .content .content-item .content-right .title-i1 {
  color: #1291d2;
}
.review-home .content .content-item .content-right .title-i2 {
  color: #f07585;
}
.review-home .content .content-item .content-right .title-i3 {
  color: #f2ac1a;
}
.review-home .content .content-item .content-right .title-i4 {
  color: #2dbeb3;
}
.review-home .content .content-item .content-right p {
  font-size: 14px;
}

.title_module_main .inner_title {
  display: inline-block;
  position: relative;
}
.title_module_main .inner_title .des {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color: #282828;
  line-height: 17px;
  margin: 0 0 10px;
}
.title_module_main .inner_title h2, .title_module_main .inner_title .h2 {
  text-transform: uppercase;
  font-size: 27px;
  line-height: 29px;
  padding: 0;
  color: #282828;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0;
  position: relative;
}

.news-home {
  background: #fff;
  padding: 60px 0px 40px;
}
.news-home .inner_title {
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.news-home .inner_title::before {
  position: absolute;
  content: "";
  width: 116px;
  height: 3px;
  background: #000;
  bottom: 0px;
  margin: auto;
  left: 0px;
  right: 0px;
}
.news-home .box-news-home {
  margin-bottom: 55px;
}
.news-home .box-news-home .img-new a {
  display: block;
  height: 187px;
}
.news-home .box-news-home .img-new a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.news-home .box-news-home .card-content {
  padding: 12px 0 0px;
  background-color: #f7f6fa;
  overflow: hidden;
}
.news-home .box-news-home .card-content .news-meta {
  padding: 12px 0px 8px 0px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  width: 74%;
  margin-left: 32px;
}
.news-home .box-news-home .card-content .news-meta span {
  color: #000;
  margin-right: 30px;
  font-size: 12px;
}
.news-home .box-news-home .card-content .news-meta span:last-child {
  margin-right: 0px;
}
.news-home .box-news-home .card-content .news-title {
  padding: 10px 15px 0px 15px;
  font-size: 13px;
  font-weight: 700;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 20px;
  max-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-home .box-news-home .card-content .news-excerpt {
  margin: 7px 13px 28px;
  font-size: 13px;
  color: #616161;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 18px;
  height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-home .box-news-home .card-content .btn-new1, .news-home .box-news-home .card-content .btn-new2, .news-home .box-news-home .card-content .btn-new3 {
  margin-top: -7px;
  float: right;
  right: 8px;
  position: absolute;
  background: #2dbeb3;
  color: #fff;
  font-weight: 400;
  border-radius: 0px;
  text-transform: uppercase;
}
.news-home .box-news-home .card-content .btn-new2 {
  background: #ff3e89;
}
.news-home .box-news-home .card-content .btn-new3 {
  background: #1291d2;
}
.news-home .box-news-home.bt-4new {
  background-color: #f7f6fa;
  position: relative;
}
.news-home .box-news-home.bt-4new .card-content {
  margin: 12px 25px;
  border-bottom: 1px solid #ccc;
  padding: 0;
}
.news-home .box-news-home.bt-4new .card-content .news-title {
  padding: 5px;
  margin: 0;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 20px;
  max-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 700;
}
.news-home .box-news-home.bt-4new .card-content .date-bt-4 {
  margin: 16px 41px 16px 1px;
  overflow: hidden;
}
.news-home .box-news-home.bt-4new .card-content .date-bt-4 i {
  color: #f2af25;
  margin-right: 5px;
  font-size: 10px;
}
.news-home .box-news-home.bt-4new .card-content .date-bt-4 .date-bt4 {
  float: left;
  font-size: 12px;
}
.news-home .box-news-home.bt-4new .card-content .date-bt-4 .view-bt4 {
  float: right;
  font-size: 12px;
}
.news-home .box-news-home.bt-4new .card-content.last {
  border-bottom: none;
}
.news-home .box-news-home.bt-4new .btn-new4 {
  margin-top: -7px;
  right: -5px;
  position: absolute;
  background: #fff000;
  color: #000;
  font-weight: 400;
  border-radius: 0px;
  text-transform: uppercase;
}

.footer-promotion {
  padding: 24px 0;
  background: #3cbeb3;
  color: #fff;
}
.footer-promotion .box-promotion {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .footer-promotion .box-promotion {
    padding-left: 16%;
    margin-bottom: 15px;
  }
}
.footer-promotion .box-promotion img {
  max-width: 100%;
  height: auto;
}
.footer-promotion .box-promotion .policy-descr {
  padding: 4px 0 4px 16px;
  vertical-align: top;
  display: inline-block;
  max-width: 70%;
}
.footer-promotion .box-promotion .policy-descr .item-title {
  margin: 0 0 4px;
  line-height: 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.footer-promotion .box-promotion .policy-descr .item-descr {
  font-size: 12px;
  line-height: 16px;
}

.footer-main {
  background: url(../img/footer.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px 0 0px;
}
.footer-main .news-letter-area {
  margin-bottom: 20px;
  padding: 30px 0px 50px;
}
.footer-main .section-title {
  text-transform: uppercase;
  text-align: center;
}
.footer-main .section-title .email-footer {
  margin-bottom: 0px;
  line-height: 30px;
  padding-bottom: 15px;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.footer-main .news-latter-box .news-letter-form {
  margin-top: 30px;
}
.footer-main .news-latter-box .subscribe-form {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  margin: auto;
}
.footer-main .news-latter-box .subscribe-form input {
  color: white;
  display: block;
  float: left;
  font-size: 1em;
  height: 48px;
  margin-left: 5px;
  line-height: 48px;
  max-width: 100%;
  position: static;
  text-align: left;
  white-space: nowrap;
  width: 435px;
  background: #2c3c4a;
  border: 0;
  padding: 0px 15px;
  border-radius: 50px;
}
.footer-main .news-latter-box .subscribe-form button {
  color: #000;
  float: left;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  height: 48px;
  letter-spacing: 0.03em;
  line-height: 47px;
  max-width: 100%;
  background: #ffdb4a;
  border: 0;
  margin: 0px 0px 0px 15px;
  padding: 0px 32px;
  transition: all 0.3s ease 0s;
  border-radius: 50px;
  margin-left: -39px;
}
.footer-main .bt-for {
  padding: 0 0 40px !important;
}
.footer-main .bt-for .footer-lastchild {
  border-right: 1px solid #cccccc1a;
}
.footer-main .bt-for .footer-lastchild .f-nav-wrap {
  text-align: center;
}
.footer-main .bt-for .footer-lastchild:last-child {
  border: 0;
}
.footer-main .bt-for .footer-lastchild:last-child .f-nav-list {
  display: flex;
  justify-content: center;
}
.footer-main .bt-for .footer-lastchild:last-child .f-nav-list li {
  margin: 10px 5px 0;
}
.footer-main .bt-for .footer-lastchild:last-child .dmca-badge img {
  width: 55px;
  padding-top: 18px;
}
.footer-main .f-nav-title {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin: 4px 0 16px;
  line-height: 53px;
  text-transform: uppercase;
}
.footer-main .f-nav-list li {
  margin: 0px 5px 0;
}
.footer-main .f-nav-list li a {
  display: inline-block;
  font-size: 13px;
  line-height: 17px;
  color: #a1acb6;
}
.footer-main .f-nav-list li a:hover {
  color: #fff;
}
.footer-main .f-nav-list li ul.pay {
  display: flex;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  padding: 0;
  justify-content: center;
}
.footer-main .f-nav-list li ul.pay li {
  list-style: none;
  margin: 3px 3px;
}

.gold {
  color: #ffdb4a;
}

.f-copyright {
  background: #15212d;
  padding: 12px 0;
  color: #fff;
  border-top: 1px solid #515151;
}
.f-copyright p {
  font-size: 13px;
  color: #fff;
  margin-bottom: 8px;
}

.news-category .ul-lev2 {
  display: none;
}
.news-category .ul-lev1:hover .ul-lev2 {
  display: block;
}
.news-category .content-news .ht-breadcrumb {
  padding: 10px 0;
  margin: 0;
  font-size: 0;
  border-radius: 2px;
  margin-top: 10px;
}
.news-category .content-news .ht-breadcrumb > li {
  position: relative;
  display: inline-block;
  z-index: 7;
  vertical-align: top;
  padding: 0 24px 0 0;
  line-height: 16px;
  font-size: 12px;
}
.news-category .content-news .ht-breadcrumb > li::after {
  content: "/";
  display: block;
  position: absolute;
  top: 0px;
  right: 0;
  width: 24px;
  line-height: 16px;
  text-align: center;
  color: #bdbdbd;
}
.news-category .content-news .ht-breadcrumb > li:last-child::after {
  display: none;
}
.news-category .content-news .ht-breadcrumb > li > a, .news-category .content-news .ht-breadcrumb > li span {
  position: relative;
  padding: 9px 0;
  line-height: 16px;
  font-size: 12px;
  color: #000;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}
.news-category .content-news .ht-breadcrumb > li h1 {
  position: relative;
  display: inline-block;
  z-index: 7;
  vertical-align: top;
  padding: 0 24px 0 0;
  line-height: 16px;
  font-size: 12px;
}
.news-category .content-news .ht-breadcrumb > li.active {
  color: #2dbeb3;
}
.news-category .content-news .ht-breadcrumb > li.active h1 {
  color: #2dbeb3;
}
.news-category .news-home .box-news-home {
  margin-bottom: 20px;
  transition: all 0.25s;
}
.news-category .news-home .box-news-home:hover {
  box-shadow: 0 10px 15px 0 #0000001a;
  transition: all 0.25s;
}
.news-category .news-home .box-news-home .card-content {
  padding: 8px 12px;
}
.news-category .news-home .box-news-home hr {
  margin-top: 13px;
  margin-bottom: 13px;
  border-top: 1px solid #eaeaea;
}
.news-category .news-home .box-news-home .btn-cateall {
  position: relative;
  text-align: center;
  line-height: 29px;
  padding: 0 0 10px;
}
.news-category .news-home .box-news-home .btn-cateall .btn-cate-all {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  padding: 3px;
}
.news-category .inner_title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 0px;
  color: #000;
}
.news-category .inner_title::before {
  position: absolute;
  content: "";
  width: 118px;
  height: 2px;
  background: #000;
  left: 0px;
  bottom: 0px;
  display: inline-block;
  right: unset;
}
.news-category .inner_title .h2 {
  line-height: 30px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.news-category .inner_title p {
  font-size: 12px;
}
.news-category .sidebar-list-cate {
  margin: 15px 0 28px 0;
}
.news-category .sidebar-list-cate .sidebar-category-list {
  padding: 0;
  margin: 0;
}
.news-category .sidebar-list-cate .sidebar-category-list li {
  position: relative;
  margin: 0 0 6px;
  padding: 0 0 0 16px;
  font-size: 13px;
}
.news-category .sidebar-list-cate .sidebar-category-list li i.fa {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  line-height: 16px;
  color: #aaa;
}
.news-category .sidebar-list-cate .sidebar-category-list li a {
  display: inline-block;
  line-height: 16px;
  font-size: 13px;
  color: #555;
}
.news-category .sidebar-list-cate .sidebar-category-list li a:hover {
  color: #2dbeb3;
}
.news-category .sidebar-list-cate .sidebar-category-list li a .news-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-category .sidebar-news-list {
  padding: 0;
  margin: 0;
}
.news-category .sidebar-news-list li {
  display: flex;
  margin-bottom: 30px;
}
.news-category .sidebar-news-list li a.news-thumb {
  display: inline-block;
  width: 90px;
  height: 80px;
  margin-right: 10px;
}
.news-category .sidebar-news-list li a.news-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-category .sidebar-news-list li .news-detail {
  max-width: 146px;
}
.news-category .sidebar-news-list li .news-detail .news-title {
  margin: 0 0 4px;
  line-height: 17px;
  font-size: 13px;
  font-weight: 500;
}
.news-category .sidebar-news-list li .news-detail .news-title a {
  color: #333;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 600;
}
.news-category .sidebar-news-list li .news-detail .news-title a:hover {
  color: #3cbeb3;
}
.news-category .sidebar-news-list li .news-detail .news-meta {
  line-height: 16px;
  font-size: 12px;
  color: #555;
  padding: 0;
}
.news-category .sidebar-news-list li .news-detail .news-meta i {
  color: #29bfb3;
  font-size: 15px;
  margin: 5px;
}
.news-category .btn-new-left {
  margin-top: 24px;
  opacity: .8;
  color: #fff;
  background-color: #2dbeb3;
  border-color: transparent;
  text-transform: uppercase;
  border-radius: 20px;
  width: 170px;
  font-weight: 600;
  padding: 8px 14px;
  line-height: 22px;
  font-size: 14px;
  text-align: center;
}
.news-category .btn-new-left .fa-caret-right {
  margin-left: 8px;
}

.content-new-detail .ht-news-meta {
  font-size: 12px;
  padding: 10px 0 0 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.content-new-detail .ht-news-meta > span {
  display: inline-block;
  margin-right: 12px;
  line-height: 16px;
  font-size: 12px;
  color: #777;
}
.content-new-detail .ht-news-meta > span i {
  margin-right: 8px;
  color: #2dbeb3;
}
.content-new-detail .ht-news-meta > span a {
  color: #777;
}
.content-new-detail .no_bullets {
  background: #f7f6fa;
  padding: 17px;
  border: 1px solid #ccc;
}
.content-new-detail .no_bullets .toc_title {
  font-weight: 700;
}
.content-new-detail .no_bullets .toc_list {
  padding: 0 20px;
  line-height: 22px;
}
.content-new-detail .no_bullets .toc_list li {
  list-style-type: decimal;
  display: list-item;
  text-align: -webkit-match-parent;
}
.content-new-detail .no_bullets .toc_list li a {
  font-size: 13px;
  color: #2dbeb3;
}
.content-new-detail .displayTableContent {
  cursor: pointer;
}
.content-new-detail .content-item {
  font-size: 14px;
  line-height: 25px;
  color: #333;
  padding-top: 30px;
}
.content-new-detail .content-item strong {
  margin-bottom: 15px;
}
.content-new-detail .content-item p {
  margin-bottom: 10px;
}

.category-content .sidebar-title {
  padding: 40px 1px 26px;
}
.category-content .sidebar-title h3 {
  margin: 0;
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.category-content .sidebar-title h3 span.title1-catefeild {
  position: relative;
  color: #3cbeb3;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 20px;
}
.category-content .sidebar-title h3 span.title1-catefeild::before {
  position: absolute;
  content: '';
  width: 100%;
  background-color: #9de4df;
  height: 4px;
  bottom: 0px;
  left: 0px;
}
.category-content .sidebar-content {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 11px;
}
.category-content .sidebar-content .sidebar-cat-list li {
  position: relative;
  margin: 0 0 18px;
  padding: 0 0 0 1px;
}
.category-content .sidebar-content .sidebar-cat-list li a {
  display: inline-block;
  line-height: 25px;
  font-size: 13px;
  color: #000;
  font-weight: 400;
}
.category-content .sidebar-content .sidebar-cat-list li a:hover {
  color: #3cbeb3;
}
.category-content .sidebar-content .sidebar-cat-list li a img {
  width: 27px;
  margin-right: 6px;
}
.category-content .sidebar-content .sidebar-cat-list li::after {
  border-bottom: 1px solid #e1e1e1;
  content: '';
  position: absolute;
  left: 0;
  right: -26px;
  width: 80%;
  bottom: -10px;
  margin: 0 auto;
}
.category-content .banner-category {
  margin-bottom: 25px;
}
.category-content.news-home .bt-4new .card-content {
  padding: 0px;
}

.detail-page .detail-views .gc-thumbs-area ul li {
  border: 4px solid #2dbeb3;
  padding: 0px;
  background-color: #fff;
}
.detail-page .detail-views .gc-thumbs-area ul li.gc-active {
  border-color: #ffdb4a !important;
}
.detail-page .detail-views .gc-thumbs-area ul li.gc-active:hover {
  border-color: #ffdb4a !important;
}
.detail-page .detail-views .gc-disabled .gc-icon, .detail-page .detail-views .gc-disabled .gc-icon:hover {
  opacity: 1;
  color: #000 !important;
}
.detail-page .detail-views .gc-icon {
  border: 2px solid #000;
  color: #000 !important;
}
.detail-page .detail-views .gc-display-area {
  border: 1px solid #2dbeb3;
}
.detail-page .tt-productdetail {
  border-right: 1px solid #cccccc61;
}
.detail-page .tt-productdetail .head-productdetail {
  margin-bottom: 15px;
}
.detail-page .tt-productdetail .head-productdetail .p-name {
  font-size: 19px;
  font-weight: 700;
  color: #000;
  margin: 0;
  line-height: 27px;
}
.detail-page .tt-productdetail .p-code {
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
}
.detail-page .tt-productdetail .code-unknown {
  color: #000;
  font-weight: 700;
  line-height: 28px;
}
.detail-page .tt-productdetail .blike-producttn-product .btn-product-ct {
  margin-top: 6px;
  width: 100%;
}
.detail-page .tt-productdetail .blike-producttn-product .btn-product-ct .ht-btn-default {
  background: #ff3e89;
  padding: 8px 19px;
  border: none;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}
.detail-page .tt-productdetail .blike-producttn-product .btn-product-ct .ht-btn-default:focus, .detail-page .tt-productdetail .blike-producttn-product .btn-product-ct .ht-btn-default:active, .detail-page .tt-productdetail .blike-producttn-product .btn-product-ct .ht-btn-default:hover {
  outline: none;
}
.detail-page .tt-productdetail .khac-productdetail h3 {
  font-size: 17px;
  font-weight: 700;
  margin-top: 36px;
  margin-bottom: 15px;
  color: #000;
}
.detail-page .tt-productdetail ul.ht-list {
  margin-bottom: 8px;
}
.detail-page .tt-productdetail ul.ht-list li.v3-detail {
  margin-bottom: 11px;
  font-weight: 400;
  padding-left: 0;
  font-size: 14px;
  color: #000;
}
.detail-page .tt-productdetail ul.ht-list li.v3-detail img {
  width: 23px;
  margin-right: 10px;
}
.detail-page .tt-productdetail ul.ht-list li.v3-detail a {
  color: #2dbeb3;
}
.detail-page .right-slide-productdetail {
  padding: 17px;
}
.detail-page .right-slide-productdetail .ht-title.with-bb {
  display: inline-block;
  padding-bottom: 2px;
  font-size: 20px;
  margin: 4px 0 16px;
  line-height: 53px;
  font-weight: 800;
  color: #333;
}
.detail-page .right-slide-productdetail .check-out-p-list {
  font-size: 12px;
  line-height: 28px;
}
.detail-page .right-slide-productdetail p {
  margin-bottom: 8px;
}
.detail-page .right-slide-productdetail .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 8px;
  line-height: 20px;
  vertical-align: top;
  font-size: 13px;
  border-color: #ccc;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
.detail-page .right-slide-productdetail hr {
  margin-top: 13px;
  margin-bottom: 13px;
  border-top: 1px solid #eaeaea;
}
.detail-page .right-slide-productdetail .btn-printnow {
  background: #fd5b4e;
  color: #fff;
  text-transform: uppercase;
  margin: 22px 10px 13px 0px;
  border-radius: 28px;
  font-size: 15px;
  height: 42px;
  font-weight: 600;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.detail-page .right-slide-productdetail .btn-printnow:hover {
  opacity: 0.75;
}
.detail-page .left-slide-productdetail {
  box-shadow: 0px 10px 15px 0px #0000001a;
  overflow: hidden;
}
.detail-page .content-productdetail {
  padding-top: 15px;
}
.detail-page .content-productdetail .left-content-fe {
  padding: 40px 0;
}
.detail-page .content-productdetail .left-content-fe .content-detail-item {
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #333;
}
.detail-page .content-productdetail .left-content-fe .content-detail-item p {
  margin-bottom: 8px;
}
.detail-page .content-productdetail .ht-news-leftct {
  padding: 40px 0;
}
.detail-page .content-productdetail .ht-news-leftct .panel-group {
  margin-top: 20px;
}
.detail-page .content-productdetail .ht-news-leftct .panel-group .panel-default {
  box-shadow: none;
  border-bottom: 1px solid #cccccc5c;
  margin: 0;
  border-radius: 0px;
}
.detail-page .content-productdetail .ht-news-leftct .panel-group .panel-default .panel-heading {
  background-color: #f7f6fb;
  border-color: #ddd;
  border-bottom: 0;
  padding: 10px 15px;
}
.detail-page .content-productdetail .ht-news-leftct .panel-group .panel-default .panel-heading .panel-title a {
  font-weight: bold;
  font-size: 14px;
}
.detail-page .slider-lq {
  margin-top: 70px;
}
.detail-page .slider-lq .item .pro-price .current-price img, .detail-page .slider-lq .item .pro-price .old-price img {
  width: inherit !important;
  display: inline-block !important;
}
.detail-page .slider-lq .owl-nav {
  position: absolute;
  top: -30px;
}
.detail-page .slider-lq .owl-nav .owl-prev, .detail-page .slider-lq .owl-nav .owl-next {
  opacity: 1;
}
.detail-page .slider-lq .owl-nav .owl-prev i, .detail-page .slider-lq .owl-nav .owl-next i {
  font-size: 35px;
}
.detail-page .slider-lq .owl-nav .owl-prev {
  right: 200px;
  left: inherit;
}
.detail-page .slider-lq .owl-nav .owl-next {
  right: 170px;
}
.detail-page .view-all-detail {
  text-align: right;
  margin-bottom: -60px;
}
.detail-page .ht-title-detail {
  display: inline-block;
  padding-bottom: 2px;
  font-weight: 700;
  margin: 4px 0 16px;
  line-height: 53px;
  font-size: 26px;
  color: #333;
  text-transform: uppercase;
  position: relative;
  bottom: -45px;
}
.detail-page .ht-title-detail::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 15px;
  background: #2dbeb3;
  bottom: 15px;
  left: 0px;
  opacity: 0.75;
  z-index: -1;
}

.green {
  color: #3cbeb3;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .row-10 {
    margin: 0px -10px !important;
  }

  .padd-10 {
    padding: 0px 10px !important;
  }

  .col-20 {
    width: 20% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-category .category-all .vertical-navbar .ul-lev2 {
    max-width: 212px;
  }
  .main-category .bar-mid .form-search input {
    width: 100%;
    min-width: 350px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu_mb .list-mobile {
    right: 70px;
  }

  .main-category .category-all .vertical-navbar .ul-lev2 {
    max-width: 220px;
  }
  .main-category .bar-mid .form-search {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-category .category-all .vertical-navbar .list-title {
    text-align: center;
    padding: 12px 0px;
  }
  .main-category .category-all .vertical-navbar .list-title i {
    height: unset;
    line-height: unset;
    display: inline-block;
    position: unset;
  }
  .main-category .category-all .vertical-navbar .ul-lev2 {
    width: 100%;
    max-width: unset;
    left: 0px;
    display: none;
  }
  .main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon {
    padding-left: 110px;
  }
}
@media (max-width: 575px) {
  .main-category .category-all .vertical-navbar .ul-lev2 li.site-nav-icon {
    padding-left: 0px;
  }
}

/*# sourceMappingURL=main.css.map */
